@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-theme-color: #f89808 !important;
}
.backgroundImage {
  background-color: black;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
